* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Karla", sans-serif;
  line-height: auto;
  background-color: rgb(252, 252, 248);
}

nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: black;
}

ul li {
  width: 100px;
}

#divintro {
  display: flex;

}

#introimg {
  width: 50%;
  height: 300px;
}

#artintro {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b9a496;
}

h2{
padding-top: 10px;
}
#position {
  text-align: left;
}

#divSec {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 30px auto;
  gap: 45px;
}

#figure {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

.icone {
  border: solid 1px #450a0a;
  padding: 16px;

}

section{
  display: flex;
    align-items: center;
}

#fondvert {
  text-align: center;
  width: 100%;
}

#taille {
  background-color: rgb(100, 136, 46);
  color: white;
  width: 100%;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;

}

h2 {
  text-align: center;

}

#pad {
  padding:  25px;
}

.card {
  flex-direction: column;
  background-color: rgb(252, 252, 248);
  /*height:355px*/
  width: 14%;
  padding: 10px;

  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px -1px grey;
  text-align: left;


}

.imgproduit {
  width: 100%;
  height: 120px;
}

h5 {
  margin-block: 10px;
}


p {
  font-size: 11px;
  margin-block: 10px;
}

#green {
  color: rgb(100, 136, 46);
  font-size: 13px;
}

button {
  background-color: rgb(100, 136, 46);
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: aliceblue;
}


article {
  display: flex;
  flex-direction: column;
  text-align: center;

}

#placement {
  display: flex;
  justify-content: center;
}


#formulaire {
  flex-direction: column;
  align-items: center;
  height: 250px;

}


form {

 padding: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px -1px grey;
  display: flex;
  width: 600px;
 

}

.field {

  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
align-items: center;
}

form ul li{

  padding: 10px;
}

textarea{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px 0;}

  button{
   align-items: center;
  }

  footer{

    text-align: center;
    padding-top: 130px;
    padding-bottom: 3px;
  }

  #fin{

    background-color: #b9a496;
    color: aliceblue;
    text-align: center;
  }

  #train{

    text-align:left
    display: flex;
    justify-content: center;
    margin-block: 50px;
  }

  #back{

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

  }

  #chien{
padding: 30px;

  }

#pomme{
display: flex;
justify-content: center;


}
#rail{
display: flex;
justify-content: center;
align-items: center;
}

  #bonbon{
text-align: center;
 width: 500px;
 height: 200px;
padding-left: 60px;
padding-right: 40px;
padding-bottom: 50px;
align-items: center;
  }

  #eau{
    text-align: left
  
  }

  #gateau{
    display: flex;
  }

  #cookie{

    display: flex;
    padding: 30px;
    align-items: center;
  }

  #poire{
padding-right:
  }
